<div
  class="w-screen flex justify-between h-full flex-col items-center overflow-hidden"
>
  <div
    class="w-full flex flex-wrap justify-between items-center align-middle xs:mt-2 sm:mt-[18.5px] xxs:mt-1 md:ml-24"
  >
    <button (click)="navigateToLandingPage()">
      <img
        src="../../assets/scrum_poker.svg"
        class="h-12 mr-3 ml-5 md:ml-0"
        alt="Scrum Poker Logo"
      />
    </button>
    <div class="flex md:mr-24 items-center sm:justify-center xs:justify-end xs:mx-1 xs:w-full align-middle">
      <button
        [matMenuTriggerFor]="menu"
        #matMenuTrigger="matMenuTrigger"
        class="grouping_button flex flex-row gap-1 justify-evenly items-center px-3 py-1"
      >
        <img src="../../assets/groups.svg" class="collaborators-icon" />
        <div class="font-inner-text sm:text-base text-sm text-main-text align-middle">
          Collaborators
        </div>
        <img
          src="../../assets/drop_down_arrow.svg"
          class="collaborators-menu-arrow"
          [ngClass]="matMenuTrigger.menuOpen ? 'collaborators-menu-open' : ''"
        />
      </button>
      <mat-menu #menu="matMenu" xPosition="after" class="mt-2">
        <div
          id="spacer"
          class="scrollable-menu flex flex-col items-center justify-between"
        >
          <div
            mat-menu-item
            *ngFor="let activeUser of usersArray"
            (click)="$event.stopPropagation()"
          >
            <div class="flex flex-row items-center">
              <ng-container [ngSwitch]="activeUser.userData.jobRole">
                <span *ngSwitchCase="jobRole[0]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[1]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[2]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[3]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[4]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[5]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[6]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[7]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
                <span *ngSwitchCase="jobRole[8]">{{
                  getSampleValue(activeUser.userData.jobRole)
                }}</span>
              </ng-container>

              <div
                class="text-main-text flex flex-row items-center font-inner-text justify-start ml-2 mt-1 text-base"
              >
                {{
                  activeUser.userData.displayName.length < 14
                    ? activeUser.userData.displayName
                    : (activeUser.userData.displayName.slice(0, 14) | titlecase)
                }}
                <div
                  class="text-main-text"
                  *ngIf="activeUser.userData.displayName.length > 14"
                >
                  ...
                </div>
                <div
                  class="text-main-text admin_button font-inner-text mr-[2px]"
                  *ngIf="activeUser.userData.isAdmin"
                >
                  <img src="../../assets/admin.svg" class="ml-1 my-1" />
                  <p class="admin_title">Admin</p>
                </div>
              </div>
              <div class="change_admin_icon">
                <button
                  *ngIf="user.isAdmin && !activeUser.userData.isAdmin"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                >
                  <img src="../../assets/more_horizontal.svg" />
                </button>
              </div>
            </div>

            <mat-menu #menu="matMenu" yPosition="below">
              <button
                class="p-0"
                mat-menu-item
                (click)="changeAdminUser(activeUser.userData)"
              >
                <span class="font-inner-text text-main-text text-base"
                  >Set As Admin</span
                >
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-menu>

      <div class="px-4 xxs:p-2 font-mono flex flex-col items-end">
        <p class="font-inner-text sm:text-lg text-base xxs:text-sm text-main-text">
          {{ user.displayName | titlecase }}
        </p>

        <p class="font-inner-text text-main-text sm:text-sm text-xs">
          {{ user.jobRole | replace : "_" : " " | titlecase }}
        </p>
      </div>
      <div class="font-inner-text text-main-text emoji_data">
        <ng-container [ngSwitch]="user.jobRole">
          <p *ngSwitchCase="jobRole[0]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[1]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[2]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[3]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[4]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[5]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[6]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[7]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
          <p *ngSwitchCase="jobRole[8]" class="text-3xl">
            {{ getSampleValue(user.jobRole) }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="w-screen flex justify-around flex-col h-full">
    <div
      class="w-full h-3/4 xxs:h-[400px] xs:h-[480px] flex flex-col justify-center items-center gap-7 xxs:gap-3 xs:gap-4"
    >
      <div
        class="w-1/2 h-[380px] xxs:w-[250px] xxs:p-0 xxs:h-[310px] xs:w-[380px] xs:h-[360px] sm:w-[600px] md:w-9/12 lg:w-11/12 xxs:flex-cols-3 xs:flex-cols-3 xxs:gap-4 xs:gap-6 flex flex-wrap p-1 xs:p-1 xxs-pt-1 overflow-y-auto"
      >
        <div
          class="h-full flex flex-wrap justify-center w-full items-center gap-5 sm:gap-x-10 md:gap-x-20"
        >
          <div
            *ngFor="let user of usersArray; let i = index"
            class="text-primary-color flex flex-col justify-center items-center gap-2 animate-popin-animation"
            
          >
            <div
              class="display-card sm:h-36 sm:w-24 xs:h-[120px] xs:w-[80px] xxs:h-28 xxs:w-20 flex justify-center items-center rounded-lg bg-white"
              [class.display-card-flipped]="isStoryPointsRevealed"
              [ngSwitch]="user.actionType"
            >
            <div [class.display-card-flipped]="isStoryPointsRevealed">
              <img
                *ngSwitchCase="'STORY_POINT_SELECTION'"
                class="animate-popin-animation"
                src="../../assets/selected-state.svg"
                alt="Selected State"
              />
              <img
                *ngSwitchCase="'STORY_POINT_HIDDEN'"
                class="animate-popin-animation"
                src="../../assets/hidden-state.svg"
                alt="Hidden State"
              />
              <p
                *ngSwitchCase="'STORY_POINT_REVEAL'"
                class="text-main-text font-card-font font-semibold animate-popin-animation"
              >
                {{ user.userData.data?.storyPoints }}
              </p>
              <img
                *ngSwitchCase="'STORY_POINT_NOT_SELECTED'"
                class="animate-popin-animation"
                src="../../assets/points_not_selected_state.svg"
                alt="Story Point not Selected State"
              />
              <img
                *ngSwitchDefault
                class="animate-popin-animation"
                src="../../assets/pending-state.svg"
                alt="Pending State"
              />
            </div>
            </div>
            <div class="font-inner-text font-medium text-main-text text-base">
              {{
                (user.userData.displayName.length < 14
                  ? user.userData.displayName
                  : (user.userData.displayName.slice(0, 10)) | titlecase)
              }}<span
                class="text-main-text"
                *ngIf="user.userData.displayName.length >= 14"
                >...</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center h-12 items-center">
        <button
          *ngIf="!isStoryPointsRevealed && this.user.isAdmin"
          class="bg-scrum-button-inner-background hover:bg-hover-color active:bg-active-color font-medium text-scrum-button-inner-text px-6 py-2 rounded-lg font-inner-text text-base w-24"
          (click)="revealStoryPoints()"
        >
          Reveal
        </button>
        <button
          *ngIf="isStoryPointsRevealed && this.user.isAdmin"
          class="bg-scrum-button-inner-background hover:bg-hover-color active:bg-active-color font-medium text-scrum-button-inner-text px-6 py-2 rounded-lg font-inner-text text-base w-24"
          (click)="resetStoryPoints()"
        >
          Reset
        </button>
      </div>
    </div>

    <div
      class="flex flex-row flex-wrap justify-center items-center sm:h-28 gap-3 mt-2 mb-1 xs:px-2 text-justify w-full animate-popin-animation"
    >
      <ng-container *ngIf="!isStoryPointsRevealed && !this.user.isAdmin">
        <button
          *ngFor="let points of series; let index = index"
          (click)="updateStoryPoints(points, index)"
          [class.active-button]="activeIndex === index"
          class="card font-card-font hover:bg-card-light active:bg-primary-shade-color w-[56px] h-[84px] rounded-md bg-white text-scrum-button-inner-text mt-3 font-semibold py-2 px-4 transition"
        >
          {{ points }}
        </button>
      </ng-container>

      <ng-container *ngIf="isStoryPointsRevealed">
        <ng-container *ngFor="let data of storyPointsData">
          <div
            class="flex flex-row justify-center items-center gap-2 xxs:hidden xs:hidden text-base font-card-font animate-popin-animation"
          >
            <button
              class="card_selected w-[56px] h-[84px] rounded-md bg-white text-scrum-button-inner-text font-semibold py-2 px-4 box shadow-md transition cursor-default"
              disabled
            >
              {{ data.points }}
            </button>
            <p
              class="flex justify-center text-scrum-button-inner-text text-center font-semibold animate-popin-animation"
            >
              <span class="mr-1">&#215;</span>{{ data.repetition }}
            </p>
          </div>
        </ng-container>
  
        <div class="flex items-center gap-2 animate-popin-animation">
          <img
            src="../../assets/approximate-symbol.svg"
            alt="Approximate Symbol"
          />
          <div
            class="font-card-font py-3 px-6 outline-none bg-scrum-button-inner-background leading-6 rounded-[28px] shadow text-scrum-button-inner-text font-semibold"
          >
            {{ averageStoryPointsValue ? averageStoryPointsValue : 0 }}
          </div>
        </div>
      </ng-container>
    </div>

    
  </div>
</div>
