<div class="w-full h-[85vh] flex flex-col justify-center items-center">
  <a class="left-9 top-5 absolute z-20" routerLink="/">
    <img
      src="../../assets/scrum_poker.svg"
      class="md:h-12 h-16"
      alt="Scrum Poker Logo"
    />
  </a>

  <img
    src="../../assets/404-page-not-found.svg"
    alt="404-page-not-found"
    class="md:h-[80%] xxs:h-[50%] xs:h-[60%] sm:h-[70%] object-fill p-2"
  />

  <button mat-button class="homepage-button" routerLink="/">Go To Homepage</button>
</div>
